body{
        font-family:'Montserrat', sans-serif;
    
}

.padding {
    padding: 3% 15%;
}

#title {
    background-color: #3a3a3a;
}

.title{
    padding: 120px 0 0
}

.title img{
    position: relative;
    left: 150px;
    bottom: 50px;
    width: 100%;
}

.title h1{
    color: #ff3c46;
    font-size: 3rem;
    font-weight: bolder;
}

.title span {
    color: white;
}

.title p{
    font-size: 1.2rem;
    line-height: 1.6;
}

.title .btn {
    background-color: #ff3c46;
    color: white;
}

.title .btn:hover{
    background-color: #db141e;
}

.navbar-brand{
    font-size: 2rem;
}

#feature-image h2{
    margin: 20px ;
    text-align: center;
    font-weight: bold;
    
}

.feature-image{
    padding: 10px 10px;
    width: 278px;
    height: 278px;
    align-items: center;
    transition: all .2s ease-in-out;
    
}
.feature-image:hover{
    transform: scale(1.1); 
}

.menu-image{
    width: 100%;
}

#menu{
    position: absolute;
}

.menu-col{
    background-color: rgb(41, 41, 41);
    position:relative;
    padding: 20px 11px;  
    bottom: 350px;
    margin-top: 10px;
    
}


#menu,.menu-col a,.menu-num, #title, #title a{        
        color: white;
}

.menu-num{
    width: 100px;
    height: 100px;
    background-color: #e81922;
    border-radius: 100%;
    text-align: center;
    font-size: 3rem;
    padding: 15px 0;
    display: inline-block;
}

.menu-name{
    display: inline-block;
    font-size: 2rem;
}

.menu-col p{
    padding-top: 20px;
    line-height: 1.5;
    
}

#delivery img {
    width: 80%;
    position: relative;
    left: 500px;
    bottom: 200px;
}

.del-pos{
    position: relative;
    top: 150px;
    line-height: 1.5;
    text-align: center;

}

#contact{
    text-align: center;
    padding: 40px;
    background-color: #3a3a3a;
    color: white;
    position: relative;
    margin-top: -270px;
    
}

#contact h2{
    font-weight: bolder;
    font-size: 3rem;
}

.footer-icon{
    margin: 70px 7px 20px;
    font-size: 3rem;
}

.footer-icon:hover{
    color:#fa2d38
}

.form{
    font-size: 1.2rem;
    padding: 2px 0 0 ;
}

